@import "tailwindcss";
body {
  direction: rtl;
  text-align: right;
}

:root {
}

@theme {
  --color-primary: rgba(140, 255, 69, 1);
  --color-secondary: rgba(117, 105, 255, 1);
  --color-danger: rgba(140, 255, 69, 1);
  --color-gray: rgba(54, 54, 54, 1);
}
